@media screen and (max-width: 800px) {
   /* Página home => */
    body {
        width: 100%;
    }
    .header-content, .main-lista, footer{
        width: auto;
        margin: 0, auto;
    }
    .header-content {
        display: flex;
        padding: auto;
        height: 14em;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 10px;
    }
    .header-titulo {
        font-size: 1.8em;
    }
    .imagem-header {
        width: 5em;
    }
    .img-main-top {
        height:14em ;
    }
    .main-content {
        width: 100%;
    }
    .main-box, .main-text-graph, .localização {
        width: 88%;
    }
    .img-main-list {
        width: 18em;
        height: 17em;
        margin: 0 50px;
    }
    .localização-mapa {
        width: auto;
        margin: 0 auto;
    }
    .localização > h2 {
        border-bottom: none;
    }
    footer ul {
        font-size: 1em;
        margin-left: 3%;
    }

    /* Página de revistas => */
    body {
        width: auto;
    }
    .header-content-revista, .bootstrap-header, .conteudo-listaderevistas {
        width: 100%;
    }
    .header-content-revista {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content-revista p{
        font-size: 10px;
    }
    .img-main-revistas {
        width: 100%;
        height: 20em;
    }
    .revistasView{
        width: 50%;
        margin: 200px;

    }
    .view-revista {
        width: 4em;
    }
    .revistas-ul{
        width: 80%;
        margin: 0 25px;
        display: flex;
        
    }

    .conteudo-listaderevistas{
        height: 18em;
    }
    .listaderevistas-tituo {
        font-size: 30px;
    }
    .itens-revista-caixa {
        width: 10em;
        height: 8em;
        margin: 0 3px;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    .img-view {
        width: 5.5em;
        display: flex;
       margin-bottom: 1px;
    }
    .view-revista {
        height: 8px;
        display: flex;
        align-items: center;

    }
    .view-revista h2 {
        display: flex;
        font-size: 1.2em;
        text-align: start;
    }
    .view-revista p {
        display: none;
        
    }
    #intimos {
        font-size: 18.159px;
    }
}