body {
    background-color: #f1f0f0;
}
main section{
    margin: 0 8px;
}

.header-content {
    display: flex;
    width: 100%;
    height: 12em;
    align-items: center;
    min-width: 944px;
    justify-content: space-around;
    background-color: rgb(201, 218, 230);
}

.imagem-header {
    width: 14em;
}

.header-titulo {
    font-size: 2em;
    color: rgb(42, 110, 165);
    font-weight:520;
}

.header-ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ihead, a {
    text-decoration: none;
    color: rgb(0, 255, 42);
    font-size: 1.2em;
    color: rgb(42, 110, 165);
}

.ihead a:hover {
    color: rgb(11, 28, 100);
    font-style:oblique;
    transition:ease-in 0.1s;
}

.ihead a:active {
    color: green;
}

.img-main-top {
    min-width: 944px;
    width: 100%;
    height: 30em;
    border-bottom: 2px solid rgb(7, 34, 65);
}

/* Página de pedidos ~> */
.header-content-revista{
    display: flex;
    width: 100%;
    height: 40px;
    min-width: 989px;
    justify-content: center;
    gap: 18px;
    align-items: center;
    background-color: rgb(31, 34, 36);
}

.header-content-revista p {
    color: white;
    font-size: 1.02em;
    margin: 5px;
}
.bootstrap-header .navbar-brand {
    padding-right: 100px;
}

.container-fluid, #navbar  {
    min-width: 989px;
}

.d-flex button:hover {
    background-color: rgb(187, 187, 187);
}
/*Página de pedidos ~ ^^*/

.main-box {
    width: 940px;
    margin: 0 auto;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.356);
}

.main-titulo {
    font-size: 2em;
    text-align: center;
    padding: 40px 0 40px 0;
}

.main-text {
    font-size: 20px;

}
.main-content p {
    padding-bottom: 1.2em;
}

strong, em {
    font-weight: bold;

}
em {
    font-style: italic;
}

.img-main-main {
    width: 100%;
    height: 20em;
    margin: 20px auto;
    border-radius: 30px;
    
}

.main-text-graph{
    width: 940px;
    margin: 0 auto;
    
}
.main-lista {
    width: 940px;
    margin: 0 auto;
}


.img-main-list {
    width: 25em;
    min-width: 100pxpx;
    display: inline-block;
    height: 22em;
    border-radius: 20px;
    box-shadow: -3px 2px 5px #015e7a75;
    margin: 20px 60px;
}

.main-lista {
    margin: 80px auto;
}


.main-ul-graph {
    display: inline-block;
    vertical-align: top;
    margin: 90px 30px;
    font-size: 1.12em;
}
.main-ul-graph li {
    padding-bottom: 12px;
}

.localização {
    width: 940px;
    margin: 50px auto;
}

.localização h2 {
    font-size: 2em;
    padding: 10px 0 2px;
    width: 17%;
    border-bottom: 1px solid black;
}

.localização h4 { 
    font-size: 1.2em;
    padding: 10px 0 0;
}

.localização p {
    font-size: 1.1em;
    padding:0 0 15px ;
}

.localização-mapa iframe {
    width: 100%;
    border-radius: 15px;
}
.button {
    width: 100%;
    margin: 0 auto;
}

.button-content{
    width: 25em;
    height: 50px;
    margin: 8% auto;
    background-color: rgb(18, 18, 29);
    border-radius: 5px;
    transition: all 1.2s;
}

.button-content:hover {
    background-color: rgb(6, 5, 54);
}

a .button-content p {
    color: aliceblue;
    text-align: center;
    padding: 15px;
}

footer {
    background: linear-gradient(120deg, rgb(26, 26, 173), rgb(7, 7, 82), rgba(35, 35, 65, 0.979));
    min-width: 944px;
}

.icone-footer {
    width: 18em;
}

footer section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 28px;
    min-width: 944px;
}

footer ul {
    color: #f1f0f0;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer li a {
    color: aliceblue;
}
footer li a:hover {
    color: rgb(231, 189, 133);
}

footer p {
    color: white;
    margin: 18px auto;
}
