@media screen and (max-width: 1260px) {
   /* Página home => */
    body {
        width: 100%;
    }
    .header-content, .main-lista, footer{
        width: auto;
        margin: 0, auto;
    }
    .header-content {
        display: flex;
        padding: auto;
        height: 14em;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 10px;
    }
    .header-titulo {
        font-size: 1.8em;
    }
    .imagem-header {
        width: 5em;
    }
    .img-main-top {
        height:14em ;
    }
    .main-content {
        width: 100%;
    }
    .main-box, .main-text-graph, .localização {
        width: 88%;
    }
    .img-main-list {
        width: 18em;
        height: 17em;
        margin: 0 50px;
    }
    .localização-mapa {
        width: auto;
        margin: 0 auto;
    }
    .localização > h2 {
        border-bottom: none;
    }
    footer ul {
        font-size: 1em;
        margin-left: 3%;
    }

    /* Página de revistas => */
    body {
        width: auto;
    }
    .header-content-revista, .bootstrap-header, .conteudo-listaderevistas {
        width: 100%;
    }
    .header-content-revista {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content-revista p{
        font-size: 10px;
    }
    .img-main-revistas {
        width: 100%;
        height: 20em;
    }
    .revistasView{
        width: 100%;
    }
    .view-revista {
        width: 4em;
    }
    #revistas-ul{
        width: 80%;
        margin: 0 auto;
        padding: none;
        display: flex;
        align-items: center;
    }

    .conteudo-listaderevistas{
        height: 100%;
    }
    .listaderevistas-tituo {
        font-size: 30px;
    }
    .itens-revista-caixa {
        width: 6em;
        height: 6.3em;
        margin: 0 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
        
    .view-revista h2 {
        display: flex;
        font-size: 1.1em;
        text-align: start;
    }
    .img-view {
        width: 4.4em;
        display: flex;
        align-items: center;
        margin:1px 3px;
    }
   
    .view-revista p {
        display: none;
        font-size: 10%;
        
    }
    #intimos {
        font-size: 14.159px;
    }
    
    .contatos-tituo {
        font-size: 1em;
    }
    .logo-contatos {
        width: 10%;
        margin: 0 0 0 0;
        padding: 0 0 0 0 ;
    }
  
    .caixa-r {
        width: 90%;
        min-width: 80%;
        padding: 10%;
    }

    .descrição-main-produtos {
        width: 95%;
        padding-left: 4%;
    }
        

    .descrição-produtos-one, .descrição-produtos-two {
        width: 10%;
        height: auto;
        display: flex;
        align-items: center;
        gap:100px;
    }
    .descrição-produtos-one h4 {
        font-size: 1.2em;
    }
    .descrição-produtos-two h4{
        font-size: 1.2em;
    }
    .descrição-produtos-one img {
        font-size: 100%;
    }
    .descrição-produtos-two img{
        font-size: 100%;
    }
}

@media screen and (max-width:990px) {
    .descrição-produtos-one, .descrição-produtos-two {
        width: 10%;
        height: auto;
        display: flex;
        align-items: center;
        gap: 100px;
    }
    .descrição-produtos-one h4 {
        font-size: 1.1em;
    }
    .descrição-produtos-two h4{
        font-size: 1.1em;
    }
    .descrição-produtos-one img {
        width: 50%;
    }
    .descrição-produtos-two img{
        width: 50%;
    }
    .img-view {
        width: 4em;
        display: flex;
        align-items: center;
    }
    .itens-revista-caixa {
        width: 5.8em;
        height: 5.6em;
        margin: 30px 10px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
    }
    #intimos {
        font-size: 12.159px;
    }
    
}

@media screen and (max-width:479px) {
    .descrição-produtos-one, .descrição-produtos-two {
        width: 10%;
        height: auto;
        display: flex;
        flex-direction:column ;
        align-items: center;
        gap: 100px;
        margin: 25% 30%;
    }
    .descrição-produtos-one h4 {
        font-size: 1em;
    }
    .descrição-produtos-two h4{
        font-size: 1em;
    }
    .descrição-produtos-one img {
        width: 50%;
    }
    .descrição-produtos-two img{
        width: 50%;
    }
    .img-view {
        width: 3.4em;
        display: flex;
        align-items: center;
        margin:1px 6px;
        padding-top: 1px;
    }
    .itens-revista-caixa {
        width: 4em;
        height: 5.6em;
        margin: 30px 10px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
    }
    #intimos {
        font-size: 12.159px;
        margin-left: 8%;
    }
    #revistas-ul{
        width: 60%;
        margin: 0 50px;
        padding: none;
        display: flex;
        align-items: center;
    }
}